{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="form-container">
            <form id="reset_password_form" action="/password_reset/{{ user_id }}" method="post">
                <div class="form-group">
                    <label>新密码</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <div class="form-group">
                    <label>确定密码</label>
                    <input type="password" class="form-control" name="re_password">
                </div>
                {% csrf_token %}
                <div class="form-group">
                    <button class="btn btn-primary btn-block">提交</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}